@import url('@catppuccin/palette/css/catppuccin.css');

@font-face {
  font-family: 'VictorMono NFM Propo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/VictorMonoNerdFontPropo-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'VictorMono NFM Propo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/VictorMonoNerdFontPropo-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'VictorMono NFM';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/VictorMonoNerdFontMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'VictorMono NFM';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/VictorMonoNerdFontMono-SemiBold.woff2') format('woff2');
}

:root {
  --t-font-family-sans:
    'VictorMono NFM Propo', 'VictorMono NFM', 'VictorMono', 'Inconsolata',
    'Consolas', 'Menlo', 'Monaco', monospace;
  --t-font-family-mono:
    'VictorMono NFM', 'VictorMono', 'Inconsolata', 'Consolas', 'Menlo',
    'Monaco', monospace;

  --t-background-color: var(--ctp-macchiato-base);
  --t-foreground-color: var(--ctp-macchiato-text);

  --t-input-border-color: var(--ctp-macchiato-surface0);

  --t-button-border-color: var(--t-input-border-color);
  --t-button-focus-ring-color: var(--t-button-border-color);
  --t-button-background-color: var(--ctp-macchiato-base);
  --t-button-hover-background-color: var(--ctp-macchiato-surface1);
  --t-button-active-background-color: hsl(
    from var(--t-button-hover-background-color) h s calc(l + 10)
  );

  --t-border-radius: 3px;

  font-family: var(--t-font-family-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--t-foreground-color);
  background-color: var(--t-background-color);

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}
