@import "@catppuccin/palette/css/catppuccin.css";

:root {
  font-family: "VictorMono NFM", "Victor Mono", Inconsolata, Consolas, Menlo,
    Monaco, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--ctp-macchiato-text);
  background-color: var(--ctp-macchiato-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
