@import '@catppuccin/palette/css/catppuccin.css';

@font-face {
  font-family: 'Victor Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/VictorMono-Regular.woff2') format('woff2');
}

:root {
  --t-background-color: var(--ctp-macchiato-base);
  --t-foreground-color: var(--ctp-macchiato-text);

  --t-input-border-color: var(--ctp-macchiato-surface0);
}

:root {
  font-family:
    'VictorMono NFM', 'Victor Mono', Inconsolata, Consolas, Menlo, Monaco,
    monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--t-foreground-color);
  background-color: var(--t-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}
